/** 1. Basic
*******************************************************************/

html {
    font-size: 10px;
    height: 100%;
}

body {
    font-family: 'Arapey', serif;
    font-weight: 300;
    font-style: normal;

    color: #000;
    background: #fff;

    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abril Fatface', cursive;
    font-weight: normal;

    letter-spacing: .05em;

    color: #000;
    ;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.9rem;
}

h3 {
    font-size: 3.4rem;
}

h4 {
    font-size: 2.9rem;
}

h5 {
    font-size: 2.4rem;
}

h6 {
    font-size: 1.9rem;
}

p {
    font-size: 1.8rem;
}

.tlinks {
    text-indent: -9999px;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
}

a,
a:hover,
a:focus {
    cursor: pointer;
    -webkit-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    text-decoration: none;
}

a:hover {
    color: #111;
}

@media (max-width:600px) {
    html {
        font-size: 8px;
    }
}

@media (max-width:500px) {
    html {
        font-size: 7px;
    }
}



/** 2. Preloader
*******************************************************************/

.preloader {
    position: fixed;
    z-index: 100000;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    background: #fff;
}

.preloader.hide-preloader {
    height: 0;

    -webkit-transition: .7s ease .3s;
    -o-transition: .7s ease .3s;
    transition: .7s ease .3s;
}

.preloader .spinner {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 50px;
    height: 50px;
    margin-top: -25px;
    margin-left: -25px;

    -webkit-animation: spinner-pulse .6s infinite ease-in-out;
    animation: spinner-pulse .6s infinite ease-in-out;
    text-align: center;

    opacity: 1;
    border-radius: 100%;
    background-color: #111;
}

.preloader.hide-preloader .spinner {
    opacity: 0;

    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

@-webkit-keyframes spinner-pulse {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);

        opacity: 0;
    }
}

@keyframes spinner-pulse {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);

        opacity: 0;
    }
}



/** 3. Image Container
*******************************************************************/

.image-container {
    /* position: flex; */
    /* flex-direction: row; */

    /* z-index: 10; */
    top: 0;
    left: 0;

    width: 50%;
    height: 100%;

    /* background: url(../img/background.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
}

.image-container .background-img {
    position: flex;
    /* z-index: 1; */
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;

    background: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width:1200px) {
    .image-container {
        position: flex;
        /* z-index: 10; */
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;
    }
}



/** 4. Content Area
*******************************************************************/

.content-area {
    position: absolute;
    /* float: right; */
    left: 50%;
    top: 0;
    width: 50%;
    border-left: 1px solid black;
    /* background-color: red; */
}

.content-area .content-area-inner2, .image-container .content-area-inner1 {
    position: relative;
    left: 0;

    width: 100%;
    padding: 0 20px;
    overflow-x: hidden;
}

.content-area .content-area-inner2 section, .image-container .content-area-inner1 section{
    max-width: 520px;
    margin: 0 auto 18vh auto;
}

.content-area .content-area-inner2 section:last-child, .image-container .content-area-inner1 section:last-child{
    margin-bottom: 10vh;
}

.content-area .content-area-inner2 section h3.headline, .image-container .content-area-inner1 section h3.headline {
    margin-bottom: 1.2em;
}

@media (max-width:1200px) {
    .content-area .content-area-inner2 {
        left: 0;

        width: 100%;
        padding: 0 20px;
    }
}


/** 5. Content Area --> Contact
*******************************************************************/

#contact1 #contact-form1, #contact2 #contact-form2 {
    position: relative;
}

#contact1 #contact-form1 .fhp-input, #contact2 #contact-form2 .fhp-input {
    display: none;

    pointer-events: none;

    opacity: 0;
}

#contact1 #contact-form1 input,
#contact1 #contact-form1 textarea,
#contact1 #contact-form1 button,
/*#contact1 #contact-form1 select,*/
#contact2 #contact-form2 input,
#contact2 #contact-form2 textarea,
#contact2 #contact-form2 button,
/*#contact2 #contact-form2 select*/
.check #contact-form1 button
{
    font-size: 2rem;

    margin-bottom: 3.4vh;

    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;

    color: #fff;
    border: none !important;
    border-radius: 34px;
    outline: none !important;
    background: #111;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.check #contact-form1 input{
    font-size: 2rem;

    margin-bottom: 1.5vh;

    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;

    color: #fff;
    border: none !important;
    border-radius: 34px;
    outline: none !important;
    background: #111;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#contact1 #contact-form1.success input,
#contact1 #contact-form1.success textarea,
#contact1 #contact-form1.success button,
#contact2 #contact-form2.success input,
#contact2 #contact-form2.success textarea,
#contact2 #contact-form2.success button,
.check #contact-form1.success input,
.check #contact-form1.success textarea,
.check #contact-form1.success button{
    line-height: 0;

    height: 0;
    margin: 0;
    padding: 0;

    opacity: 0;
}

#contact1 #contact-form1 input::-webkit-input-placeholder,
#contact1 #contact-form1 textarea::-webkit-input-placeholder,
#contact2 #contact-form2 input::-webkit-input-placeholder,
#contact2 #contact-form2 textarea::-webkit-input-placeholder{
    color: #fff;
}

#contact1 #contact-form1 input:-ms-input-placeholder,
#contact1 #contact-form1 textarea:-ms-input-placeholder,
#contact2 #contact-form2 input:-ms-input-placeholder,
#contact2 #contact-form2 textarea:-ms-input-placeholder{
    color: #fff;
}

#contact1 #contact-form1 input::placeholder,
#contact1 #contact-form1 textarea::placeholder,
#contact2 #contact-form2 input::placeholder,
#contact2 #contact-form2 textarea::placeholder{
    color: #fff;
}

#contact1 #contact-form1 input.error,
#contact1 #contact-form1 textarea.error,
#contact2 #contact-form2 input.error,
#contact2 #contact-form2 textarea.error{
    background: red;
}

#contact1 #contact-form1 input,
#contact2 #contact-form2 input,
.check #contact-form1 input{
    line-height: 3.2em;

    height: 3.2em;
    padding-right: 1.6em;
    padding-left: 1.6em;
}

#contact1 #contact-form1 textarea,
#contact2 #contact-form2 textarea{
    line-height: 1.7em;

    height: 8em;
    padding-top: .7em;
    padding-right: 1.6em;
    padding-left: 1.6em;
}

#contact1 #contact-form1 button,
#contact2 #contact-form2 button,
.check #contact-form1 button{
    line-height: 3.2em;

    position: relative;

    display: inline-block;
    overflow: hidden;

    width: auto;
    height: 3.2em;
    margin-bottom: 0;
    padding: 0 3.6em;

    background: none !important;
}

#contact1 #contact-form1 button:before,
#contact2 #contact-form2 button:before,
.check #contact-form1 button:before{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    border-radius: 100px;
    background: #111;
}

#contact1 #contact-form1 button:after,
#contact2 #contact-form2 button:after,
.check #contact-form1 button:after{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    content: '';
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;

    background: #008aff;
}

#contact1 #contact-form1 button:hover:after,
#contact2 #contact-form2 button:hover:after,
.check #contact-form1 button:hover:after{
    width: 100%;
}

#contact1 #contact-form1 .success-message,
#contact2 #contact-form2 .success-message{
    font-size: 2rem;
    line-height: 0;

    position: relative;
    bottom: 0;
    left: 0;

    height: 0;
    margin-top: -1.6em;
    padding: 0 2em;

    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;
    pointer-events: none;

    opacity: 0;
    color: #fff;
    border-radius: 3em;
    background: limegreen;
}

#contact1 #contact-form1.success .success-message,
#contact2 #contact-form2.success .success-message{
    line-height: 6em;

    height: 6em;

    pointer-events: all;

    opacity: 1;
}



/** 6. Content Area --> Footer
*******************************************************************/

#footer .social-icons {
    padding: 0;

    list-style: none;
}

#footer .social-icons li {
    font-size: 2rem;
    line-height: 3em;

    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 3em;
    height: 3em;
    margin: 0;
    margin-right: 1em;

    text-align: center;

    color: #fff;
    border-radius: 100%;
    background: none;
}

#footer .social-icons li:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    border-radius: 100px;
    background: #111;
}

#footer .social-icons li:after {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 0;
    height: 100%;

    content: '';
    -webkit-transition: .2s ease;
    -o-transition: .2s ease;
    transition: .2s ease;

    background: #008aff;
}

#footer .social-icons li:hover:after {
    width: 100%;
}

#footer .social-icons li a {
    font-size: inherit;

    display: block;

    color: #fff;
    border: none;
}

#footer p {
    margin-top: 1.6em;
}

#footer p a {
    color: #000;
    border-bottom: 1px solid #111;
}

/** 7. Bottom
*******************************************************************/

.bottom {
    position: absolute;
    /* top: 70px; */
    width: 100%;
    /* height: 100%; */
}

.form-controls {
    margin-bottom: 3.4vh;

    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;

    color: #fff;
    border: none !important;
    border-radius: 34px;
    outline: none !important;
    background: #111;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 1em;
    line-height: 1.42857143;
    background-image: none;
}


/** 8. 定义隐藏下拉框默认样式及图片覆盖下拉按钮 
*******************************************************************/
.info-select{
    width: 200px;
    outline:none;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    /*background: url(img/down.png) no-repeat scroll right center transparent;*/
}

/** 9. Check
*******************************************************************/
.check {
    position: absolute;
    /* top: 70px; */
    left: 25%;
    width: 50%;
    height: 140px;
    bottom: 0;
}

/** 10. search
*******************************************************************/
.search-content {
    position: relative;
}
.search {
    position: absolute;
    right: 10px;
    display: inline-block;
    padding: 15px 25px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    /*background-color: #25D0E6;*/
    background-color: #25A6E6;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: KaiTi
}

.search:hover {background-color: #25D0E6}

.search:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/** 11. display
*******************************************************************/
#display {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    left: 25%;
}

#display td, #display th {
    border: 1px solid #ddd;
    padding: 8px;
}

#display tr:nth-child(even){background-color: #f2f2f2;}

#display tr:hover {background-color: #ddd;}

#display th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.display-content {
    position: relative;
}

.display {
    display: inline-block;
    position: absolute;
    right: 10px;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
  
.display:hover {background-color: #3e8e41}

.display:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}